<h1>Добро пожаловать в приложение TuTu</h1>

<%= link_to 'Список станций', railway_stations_path %>
<%= link_to 'Список поездов', trains_path %>
<%= link_to 'Список вагонов', wagons_path %>
<%= link_to 'Список маршрутов', routes_path %>
<%= link_to 'Билеты', tickets_path %>
<%= link_to 'Пользователи', users_path %>
