<h1>Hello, Rails</h1>

<%= link_to 'Station list', railway_stations_path %>
<%= link_to 'Train', trains_path %>
<%= link_to 'Route', routes_path %>
<%= link_to 'Ticket', tickets_path %>
<%= link_to 'User', users_path %>
