<p id="notice"><%= notice %></p>

<h1>Билеты</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.number %></td>
        <td><%= link_to 'Показать', ticket %></td>
        <td><%= link_to 'Редактировать', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый билет', new_ticket_path %>
