<p id="notice"><%= notice %></p>

<p>
  <strong>ФИО пассажира:</strong>
  <%= @ticket.number %>
</p>

<p>
  <strong>Начальная станция:</strong>
  <%= @ticket.start_railway_station.title %>
</p>

<p>
  <strong>Конечная станция:</strong>
  <%= @ticket.finish_railway_station.title %>
</p>

<%= link_to 'Редактировать', edit_ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %>
