<p id="notice"><%= notice %></p>

<h1>Железнодорожные станции</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @railway_stations.each do |railway_station| %>
      <tr>
        <td><%= railway_station.title %></td>
        <td><%= link_to 'Показать', railway_station %></td>
        <td><%= link_to 'Редактировать', edit_railway_station_path(railway_station) %></td>
        <td><%= link_to 'Удалить', railway_station, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая железнодорожная станция', new_railway_station_path %>
