<%= form_for(@wagon) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <div class="field">
    <%= f.label :number, "Номер вагона" %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :top_seat, "Верхние места" %>
    <%= f.text_field :top_seat %>
  </div>

  <div class="field">
    <%= f.label :bottom_seat, "Нижние места" %>
    <%= f.text_field :bottom_seat %>
  </div>

  <div class="field">
    <%= f.label :wagon_type, "Тип вагона" %>
    <%= f.select :wagon_type, Wagon.wagon_types.keys.to_a %>
  </div>

  <div class="field">
    <%= f.label :train, "Поезд" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>



  <div class="actions">
    <%= f.submit "#{@wagon.new_record? ? 'Создать' : 'Редактировать'}" %>
  </div>
<% end %>