<p id="notice"><%= notice %></p>

<h1>Список вагонов</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wagons.each do |wagon| %>
      <tr>
        <td><%= wagon.number %></td>
        <td><%= link_to 'Показать', wagon %></td>
        <td><%= link_to 'Редактировать', edit_wagon_path(wagon) %></td>
        <td><%= link_to 'Удалить', wagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый вагон', new_wagon_path %>