<header>
  <div class="d-flex flex-column flex-md-row aagn-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark"><%= link_to 'На главную', welcome_index_path %></a>
      <a class="p-2 text-dark"><%= link_to 'Список станций', railway_stations_path %></a>
      <a class="p-2 text-dark"><%= link_to 'Список поездов', trains_path %></a>
      <a class="p-2 text-dark"><%= link_to 'Список вагонов', wagons_path %></a>
      <a class="p-2 text-dark"><%= link_to 'Список маршрутов', routes_path %></a>
      <a class="p-2 text-dark"><%= link_to 'Билеты', tickets_path %></a>
      <a class="p-2 text-dark"><%= link_to 'Пользователи', users_path %></a>
    </nav>
  </div>
</header>
